@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300);

body {
    background-image: url("Geo-effect_bg.png");
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', Arial, Helvetica Neue;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h1 {
    margin-top: 25px;
    font-size: 65px;
}
h2 {
    margin-top: -50px;
    color: #CCCCCC;
}

h3 {
    color: #336699;
}
h4 {
    font-size: 25px;
}
h5 {
    font-style: italic;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}
a {
    font-weight: 400;
    text-decoration: none;
    color: #336699;
}
a:visited {
    color: #336699;
}
img {
    width: 500px;
    border: 4px solid #336699;
}
