@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300);

body {
    background-image: url("Geo-effect_bg.png");
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', Arial, Helvetica Neue;
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    margin-top: 100px;
    font-size: 65px;
}
h2 {
    margin-top: -50px;
    color: #CCCCCC;
}

h3 {
    color: #336699;
}
a {
    font-weight: 400;
    text-decoration: none;
}
a:visited {
    color: #336699;
}
